<%= form_for(@permission_for_note) do |f| %>
  <% if @permission_for_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permission_for_note.errors.count, "error") %> prohibited this permission_for_note from being saved:</h2>

      <ul>
      <% @permission_for_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :level %><br />
    <%= select("permission_for_note", "level", PermissionForNote::ALL_RIGHTS, {:include_blank => false}) %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= select("permission_for_note", "user_id", User.all.collect {|u| [ "#{u.first_name} #{u.last_name}", u.id ] }, {:include_blank => false}) %>
  </div>
  <div class="field">
    <%= f.label :note_id %><br />
    <%= select("permission_for_note", "note_id", Note.all.collect {|n| [ "#{n.title}", n.id ] }, {:include_blank => false}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
